<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href="/stylesheets/admin.css" />
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
  </head>
  <body>
    <div id="top">
      <div class="head">
        <div class="logo">
          <img src="images/topLogo.png">
        </div>
        <ul class="funct">
          <li class="first-funs">
            <a href="#">
              <img src="images/topmune_09.png" alt="">
              <span>更多模板堂产品</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_01.png">
              <span>开店向导</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_02.png">
              <span>记事本</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_03.png">
              <span>刷新</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_04.png">
              <span>个人设置</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_05.png">
              <span>管理员留言</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_06.png">
              <span>查看网店</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_007.png">
              <span>帮助</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_07.png">
              <span>关于&nbsp;ECSHOP</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/qingchu.png">
              <span>清除缓存</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/topmune_08.png">
              <span>退出</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav">
        <ul>
          <li>
            <a href="#"><img src="images/index-11_07.png">起始页</a>
          </li>
          <span></span>
          <li>
            <a href="#"><img src="images/index-11_41.png">设置导航栏</a>
          </li>
          <span></span>
          <li>
            <a href="#"><img src="images/index-11_09.png">商品管理<span class="num">7</span></a>
          </li>
          <span></span>
          <li>
            <a href="#"><img src="images/dd.png">订单管理<span class="num">0</span></a>
          </li>
          <span></span>
          <li>
            <a href="#"><img src="images/index-11_13.png">广告管理<span class="num">2</span></a>
          </li>
          <span></span>
          <li>
            <a href="#"><img src="images/index-11_19.png">用户评论<span class="num">0</span></a>
          </li>
          <span></span>
          <li>
            <a href="#">商品列表</a>
          </li>
          <li>
            <a href="#">订单列表</a>
          </li>
          <li>
            <a href="#">用户评论</a>
          </li>
          <li>
            <a href="#">会员列表</a>
          </li>
          <li>
            <a href="#">商店设置</a>
          </li>
          <li>
            <a href="#">移动版</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
